*,
nav {
  font-family: "Quicksand", sans-serif;
  color: #8d8d8d;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #00adb5;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::selection {
  background-color: #00adb5;
  color: #111111;
}
/* goto top buttn */
#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  border: 2px solid #00adb5;
  outline: none;
  background-color: #111111;
  cursor: pointer;
  padding: 0.5em;
}
#myBtn i {
  color: #00adb5;
}
/* goto top buttn end */
a {
  text-decoration: none;
  color: #8d8d8d;
  font-size: 1.1rem;
}
p {
  font-size: 1.1rem;
  text-indent: 1em;
  line-height: 1.5;
  text-align: justify;
}
.card p {
  text-indent: 0;
}
.my-services .card p {
  text-indent: 1em;
}
body {
  background-color: #1f1f1f;
}
.bluetext {
  color: #00adb5;
}
/* Style the header: fixed position (always stay at the top) */
.headerbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #111111;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #111111;
}
/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #00adb5;
  width: 0%;
}
@media screen and (min-width: 900px) {
  .pcardl {
    transform: translateY(10%);
  }
  .pcardr {
    transform: translateY(-10%);
  }
}
/* Extra small devices (phones, 600px and down) */
#nav-gap {
  height: 3vh;
  min-height: 20px;
  max-height: 100px;
  background-color: #111111;
  letter-spacing: 1px;
}
@media screen and (min-width: 900px) {
  main {
    position: absolute;
    width: 82%;
    right: 0;
  }
  #nav-gap {
    background-color: #eeeeee;
    display: none;
  }
}
/*==================nav bar ======================*/
@media screen and (min-width: 250px) and (max-width: 899.5px) {
  nav {
    background-color: #111111;
    /* border-bottom: 2px solid #393e46;
		*/
    display: flex;
    color: #eeeeee;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 3px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 40px;
    height: 4vh;
    max-height: 100px;
    z-index: 10;
  }
  #logoimg {
    width: 35px;
    height: auto;
    padding-left: 1em;
  }
  nav #nav-link-d {
    display: none;
  }
  nav #togglenav {
    font-size: 1.5rem;
    padding-right: 0.6em;
  }
  nav .logo {
    display: flex;
    align-items: center;
  }
  nav .logo img {
    padding-left: 0.6em;
  }
  nav .logo h4 {
    font-size: 1.4rem;
    color: #eeeeee;
    font-weight: bold;
    margin-left: 10px;
  }
  /*nav a {
		letter-spacing: 1px;
	}
	*/
  nav ul {
    position: fixed;
    bottom: -50vh;
    transform: translateY(100%);
    min-height: fit-content;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav ul li a {
    font-weight: bold;
  }
  .nav-active {
    background-color: #111111;
    border-top: 2px solid #00adb5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    transform: translateY(0%);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .socials-nav {
    display: none;
  }
}
@media screen and (max-width: 330px) {
  nav .logo,
  nav i {
    font-size: 1.2rem;
  }
  .nav-active {
    height: 70vh;
    font-size: 1.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media screen and (min-width: 900px) {
  #nav-gap,
  .oeirgoeg,
  #logoimg {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100px;
    width: 18%;
    height: 100vh;
    border-right: 2px solid #1f1f1f;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #8d8d8d;
    letter-spacing: 1px;
  }
  nav ul {
    width: 100%;
    height: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
  }
  nav li {
    padding: 0.5em 0;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav li a {
    color: #8d8d8d;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
  }
  nav li a:hover,
  nav li a:focus,
  .active {
    color: #00adb5;
    transition: all 0.5s;
    font-weight: bold;
    transform: scale(1.1);
  }
  nav li a:hover i,
  nav li a:focus i,
  .active i {
    color: #00adb5;
  }
  nav .logo h4 {
    display: none;
  }
  nav .logo {
    width: 100%;
    height: 15%;
    background-image: url(../images/logo-new-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav .socials-nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav .socials-nav i {
    font-size: 1.5rem;
    color: #00adb5;
  }
  nav #togglenav {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  nav li a {
    font-size: 1.5rem;
  }
  nav .logo {
    font-size: 2rem;
  }
}
/*==================nav bar ends======================*/
/*==================Button section======================*/
.know-more-btn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  color: #00adb5;
  border: 2px solid currentColor;
  width: max-content;
  background-color: transparent;
  transition: all 1s;
}
.know-more-btn i {
  color: #00adb5;
}
.know-more-btn:hover i,
.know-more-btn:focus i {
  color: #111111;
  transition: all 0.25s;
}
.know-more-btn:hover,
.know-more-btn:focus {
  background-color: #00adb5;
  color: #111111;
  border: 2px solid #00adb5;
  transform: scale(1.2);
  font-weight: bold;
  transition: all 0.25s;
}
.know-more-btn-small {
  font-size: 1rem;
}
footer .know-more-btn-small {
  font-size: 1.2rem;
}
/*==================Landing page section======================*/
.landing-page {
  /* background-color: #111111;
	*/
  min-height: fit-content;
  height: 100svh;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.landing-page h1 {
  font-size: 2.5rem;
  color: #00adb5;
  font-weight: bold;
}
.heading-div div {
  height: 40%;
}
.heading-div {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.button-div {
  width: 50%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .button-div {
    margin-bottom: -35px;
  }
}
/* ========================= */
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  /* background-color: var(--color);
	*/
  /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	*/
  transition: 500ms;
  z-index: -1;
}
@media screen and (min-width: 900px) {
  .waves {
    height: 270px;
  }
  .button-div {
    margin-top: -30%;
  }
}
.waves::before {
  content: "";
  position: absolute;
  width: 300vw;
  height: 302vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}
.waves::before {
  border-radius: 44%;
  background: #00adb5;
  animation: waves 15s linear infinite;
}
.waves::after {
  border-radius: 44%;
  background: #111111;
  animation: waves 15s linear infinite;
}
@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  12.5% {
    transform: translate(-50%, -75%) rotate(45deg);
  }
  25% {
    transform: translate(-50%, -75%) rotate(90deg);
  }
  37.5% {
    transform: translate(-50%, -75%) rotate(135deg);
  }
  50% {
    transform: translate(-50%, -75%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -75%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@media screen and (min-width: 900px) {
  .landing-page {
    margin-top: -2.4vh;
  }
  .heading-div div {
    margin: 0 auto;
  }
  .button-div {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*==================About section======================*/
.about-me {
  min-height: fit-content;
  background-color: #1f1f1f;
}
.main-heading {
  font-weight: bold;
  color: #8d8d8d;
  padding-left: 0.5em;
  border-left: 3px solid #00adb5;
  border-right: 3px solid #00adb5;
}
article > .main-heading {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 900px) {

.about-me-paragraph p, .about-me-paragraph a, .about-me-paragraph span, .about-me-paragraph i{
  font-size: 1.5vw;
}

}
@media screen and (min-width: 540px) and (max-width: 767px) {

  .about-me-paragraph {
    padding: 0 2.4em;
  }
  }
@media screen and (min-width: 901px) and (max-width: 1300px) {

  .about-me-paragraph p, .about-me-paragraph a, .about-me-paragraph span, .about-me-paragraph i{
    font-size: 1.2vw;
  }
  }
@media screen and (min-width: 900px) {
  .about-me > .main-heading {
    display: none;
  }
  article > .main-heading{
    border: 0;
    display: block;
  }
  
}
@media screen and (max-width: 700px) {
  .about-me .about-me-paragraph {
    padding-top: 0.5em;
  }
}
@media screen and (min-width: 1300px) {
  .about-me-paragraph {
    padding: 0 2em;
  }
  img.myaboutimg:hover{
    transform: scale(1.1);
  }
}
/*==================Education section======================*/
.my-education {
  min-height: fit-content;
  background-color: #111111;
}
@media screen and (min-width: 900px) {
  .main-heading {
    text-align: center;
  }
}
/*==================skills section======================*/
.my-skills {
  min-height: fit-content;
  background-color: #1f1f1f;
}
/* Variable Declarations */
:root {
  --color-white: #111111;
  --color-prime: #00adbe;
  --color-grey: #e2e2e2;
  --color-grey-dark: #a2a2a2;
}

/* Styles */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1.6%;
  background: var(--color-white);
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: var(--color-prime);
}

.blog-card:hover .photo {
  transform: scale(1.3);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}


.blog-card .description {
  padding: 1rem;
  background: var(--color-white);
  position: relative;
  z-index: 1;
}



.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-grey-dark);
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: var(--color-prime);
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--color-prime);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 1000px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #111111;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/*==================projects section======================*/
.my-portfolio {
  min-height: fit-content;
  background-color: #111111;
}

.pcardstyle {
  max-width: 450px;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}


.pcardstyle img {
  border-radius: 0;
  aspect-ratio: 16/10;
  object-fit: cover;
}
.plinks {
  color: #00adb5;
  transition: all 0.5s;
}
.plinks:hover {
  text-decoration: underline;
  letter-spacing: 2px;
}
.plinks i {
  color: #00adb5;
}

@media screen and (min-width: 900px) {
  .pcardstyle {
    padding: 1em;
  }
  .pcardstyle:hover {
	transform: scale(1.05);
	transition: all 0.5s;
  }
}
/*==================experience section======================*/
.my-experience {
  min-height: fit-content;
  background-color: #1f1f1f;
}
@media screen and (max-width: 900px) {
  p.exp-para{
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 900px) {
  .hovereffect:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }
}
/* The actual timeline (the vertical ruler) */
.main-timeline-5 {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.main-timeline-5::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #00adb5;
  top: 0;
  bottom: 0;
  left: auto;
  margin-left: -3px;
}
/* Container around content */
.timeline-5 {
  position: relative;
  background-color: inherit;
  width: 100%;
}
/* The circles on the timeline */
.timeline-5::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  right: 1px;
  background-color: #00adb5;
  top: 18px;
  border-radius: 50%;
}
/* Place the container to the right */
.right-5 {
  padding: 0px 0px 20px 40px;
  left: auto;
}
/* Add arrows to the right container (pointing left) */
.right-5::before {
  content: " ";
  position: absolute;
  top: 18px;
  left: 30px;
  border: medium solid #111111;
  border-width: 10px 10px 10px 0;
  border-color: transparent #111111 transparent transparent;
}
/* Fix the circle for containers on the right side */
.right-5::after {
  left: -10px;
}
@media (max-width: 991px) {
  .main-timeline-5 {
    max-width: 100%;
  }
}
/*==================services section======================*/
.my-services {
  min-height: fit-content;
  background-color: #111111;
}
.hire-icon {
  color: #393e46;
}
.hire-icon:hover {
  color: #00adb5;
  transition: all 0.5s;
}
@media screen and (min-width: 900px) {
}
/*==================animations section======================*/
.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
/*==================dividers section======================*/
.divider {
  background-color: #111111;
  position: relative;
  clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
  height: 70px;
}
.div2container {
  height: 70px;
  background-color: #111111;
}
.divider2 {
  background-color: #1f1f1f;
  position: relative;
  clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
  height: 70px;
}
@media screen and (min-width: 900px) {
  .divider {
    height: 100px;
  }
  .div2container {
    height: 100px;
  }
  .divider2 {
    height: 100px;
  }
}
/*==================footer section======================*/
.my-footer {
  min-height: fit-content;
  background-color: #1f1f1f;
}
/* Disable outline and borders for input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: none;
  outline: none;
  background-color: #111111;
  color: #8d8d8d;
  font-weight: bold;
}
/* Make the textarea non-resizable */
textarea {
  resize: none;
}
.second-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}
#social-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#social-links i {
  font-size: 2.5rem;
  color: #8d8d8d;
}
#social-links i:hover {
  color: #00adb5;
  transition: all 0.5s;
}
@media screen and (min-width: 900px) {
  .second-column {
    border-top: none;
  }
  #myregard {
    margin-top: 0;
  }
}
