*{
    font-family: 'Quicksand', sans-serif;
     color: #8d8d8d;
 }
 ::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background: #00adb5;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::selection{
    background-color: #00adb5;
    color: #111111;
}
.floating-btn i{
    color: #00adb5;

}
.floating-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #111111;
    display: block;
    padding: 0.5em;
    border: 2px solid #00adb5;
    width: fit-content;
    height: fit-content;
}

.card:hover, .card:focus{
    outline: 0.5px solid #00adb5;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: 2px solid #00adb5;
    outline: none; /* Remove outline */
    background-color: #111111; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.5em;
  }
  #myBtn i{
    color: #00adb5; /* Text color */

  }

  /* goto top buttn end */
a{
     text-decoration: none;
     color: #8d8d8d;
     font-size: 1.2rem;
 }
 p{
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: justify;
 }
 
 body{
     background-color: #191919;
 }
/* Style the header: fixed position (always stay at the top) */
.headerbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #111111;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 3px;
    background: #111111;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: #00adb5;
    width: 0%;
  }
 /* Extra small devices (phones, 600px and down) */
 #nav-gap{
     height: 3vh;
     min-height: 20px;
     max-height: 100px;
     background-color: #111111;
     letter-spacing: 1px;
 }
 
 
 @media screen and (min-width: 900px) {
     main{
         position: absolute;
         width: 82%;
         right: 0;
     }
 
     #nav-gap{
         background-color: #eeeeee;
         display: none;
     }
 }
 
 
 /*==================nav bar ======================*/
 @media screen and (min-width: 250px) and (max-width: 900px){    
     nav {
         background-color: #111111;
         /* border-bottom: 2px solid #393e46; */
         display: flex;
         color: #eeeeee;
         align-items: center;
         justify-content: space-between;
         position: fixed;
         top: 3px;
         left: 0;
         right: 0;
         width: 100%;
         min-height: 40px;
         height: 4vh;
         max-height: 100px;
         z-index: 1;
     }
     #logoimg{
        width: 35px;
        height: auto;
        padding-left: 1em;
     }
     nav #nav-link-d {
     display: none;
     }
     nav #togglenav{
         font-size: 1.5rem;
         padding-right: 0.60em;
     }
     nav .logo {
        display: flex;
        align-items: center;
     }
     nav .logo img{
        padding-left: 0.60em;
     }
     nav .logo h4{
     font-size: 1.5rem;
     color: #eeeeee;
     font-weight: bold;
     margin-left: 10px;
     }
    /* 
     nav a {
     letter-spacing: 1px;
     }*/
     
     nav ul {
     position: fixed;
     bottom: -50vh;
     transform: translateY(100%);
     min-height: fit-content;
     transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }
     
     .nav-active {
     background-color: #111111;
     border-top: 2px solid #00adb5;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 50vh;
     min-height: 300px;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     list-style: none;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-evenly;
     font-size: 1.5rem;
     transform: translateY(0%);
     transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }
 
     nav .socials-nav{
         display: none;
     }
     
 }
        @media screen and (max-width: 330px) {
     nav .logo,nav i{
         font-size: 1.2rem;
     }
     
     .nav-active{
         height: 70vh;
         font-size: 1.2rem;
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
     }
 }
 @media screen and (min-width: 900px) {
     #nav-gap{
         display: none;
     }
     #logoimg{
        display: none;
     }
     nav {
         position: fixed;
         top: 0;
         left: 0;
         min-width: 100px;
         width: 18%;
         height: 100vh;
         border-right: 2px solid #393e46;
         background-color: #111111;
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         align-items: center;
         color: #8d8d8d;
         letter-spacing: 1px;
     }
 
     nav ul{
         width: 100%;
         height: 75%;
         list-style: none;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
     }
     nav li{
         border-bottom: 2px solid #393e46;
         padding: 0.5em 0;
         width: 85%;
         display: flex;
         align-items: center;
         justify-content: center;
     }
 
     nav li a{
         color: #8d8d8d;
         letter-spacing: 1px;
         font-size: 1.2rem;
     }
 
     nav li a:hover, nav li a:focus{
         color: #00adb5;
         transition: all 0.5s;
         font-weight: bold;
     }
     nav li a:hover i, nav li a:focus i{
         color: #00adb5;
     }
     
     nav .logo h4{
display: none;
     }
     nav .logo{
         width: 100%;
         height: 15%;
         background-image: url(../images/logo-new-dark.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

         display: flex;
         align-items: center;
         justify-content: space-around;
     }
 
     nav .socials-nav{
         width: 100%;
         height: 10%;
         display: flex;
         align-items: center;
         justify-content: space-around;
     }
 
     nav .socials-nav i{
         font-size: 1.5rem;
         color: #00adb5;
     }
 
 
     nav #togglenav{
         display: none;
     }
 }
 
 @media screen and (min-width: 1400px){
     nav li a{
         font-size: 1.5rem;
     }
 
     nav .logo{
         font-size: 2rem;
     }
 }
 
 
 /*==================nav bar ends======================*/
 
 
 /*==================Landing page section======================*/
 .landing-page{
     background-color: #111111;
     min-height: fit-content;
     height: 100vh;
     padding: 2em 1em;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
 }
 
 .landing-page h1{
     font-size: 2.5rem;
     color: #00adb5;
     font-weight: bold;
 
 }
 .know-more-btn{
     padding: 0.5em 1em;
     font-size: 1.5rem;
     color: #00adb5;
     border:2px solid currentColor;
     width: max-content;  
 }
 .know-more-btn:hover, .know-more-btn:focus{
     background-color: #00adb5;
     color: #111111;
     border: 2px solid #00adb5;
     transition: all 0.5s;
     font-weight: bold;
    }
.know-more-btn-small{
    font-size: 1.2rem;
}
.heading-div div{
     height: 40%;
 }
 .heading-div{
     width: 100%;
     height: 80%;
     display: flex;
     align-items: center;
 }

 .button-div{
     width: 50%;
     margin: 0 auto;
     height: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 @media screen and (min-width: 900px) {
     .landing-page{
         margin-top: -2.4vh;
     }
     .heading-div div{
         margin: 0 auto;
     }

     .button-div{
         flex-direction: row;
         justify-content: space-evenly;
     }
 }
 
 
 
 /*==================About section======================*/
 
 .about-me{
     min-height: fit-content;
     background-color: #191919;
 }
 
 .main-heading{
   font-weight: bold;
   color: #8d8d8d;
   padding-left: 0.5em;
   border-left: 3px solid #00adb5;
   border-right: 3px solid #00adb5;
 }
 @media screen and (min-width: 900px) {
  
 }
 
 /*==================Education section======================*/
 
 .my-education{
     min-height: fit-content;
     background-color: #111111;
 }
 
 
 @media screen and (min-width: 900px) {
  
 }
 /*==================skills section======================*/
 
 .my-skills{
     min-height: fit-content;
     background-color: #191919;
 }
 
 @media screen and (min-width: 900px) {
  .first-skill-card{
      border-right: 2px solid #393e46;
      border-bottom: none;
  }
      .first-skill-card h3{
        border-bottom: 2px solid #393e46;
    }
 }
 /*==================projects section======================*/
 
 .my-portfolio{
     min-height: fit-content;
     background-color: #111111;
 }
 
 @media screen and (min-width: 900px) {
  
 }
 /*==================experience section======================*/
 
 .my-experience{
     min-height: 100vh;
     background-color: #191919;
 }
 
 .exp-timeline{
    margin: 2em auto;
    max-width: 34.15em;
 }

 .exp-checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
 }

 .exp-checkpoint div{
    border: 2px solid #00adb5;
 }

 .exp-checkpoint p{
    color: #8d8d8d;
 }

 .exp-checkpoint:nth-child(odd){
    border-left: 1px solid #00adb5;
    padding-left: 3em;
    transform: translateX(17em);
 }

 .exp-checkpoint:nth-child(even){
    border-right: 1px solid #00adb5;
    padding-right: 3em;
    transform: translateX(-17em);
 }
 .exp-checkpoint:nth-child(even)::before,.exp-checkpoint:nth-child(odd)::before{
    content: "";
    background-color: #00adb5;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }

 .exp-checkpoint:nth-child(odd)::before{
    left: 0;
 }
 .exp-checkpoint:nth-child(even)::before{
    right: 0;
 }
.exp-checkpoint:nth-child(odd) div::before,
 .exp-checkpoint:nth-child(even) div::before{
    content: "";
    background-color: #00adb5;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
 }
 .exp-checkpoint:nth-child(odd) div::before{
    left: -0.5em;
 }
    .exp-checkpoint:nth-child(even) div::before{
        right: -0.5em;
    }
 @media screen and (max-width: 1150px) {
    .exp-timeline{
        width: 80vw;
    }

    .exp-timeline .exp-checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .exp-timeline .exp-checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .exp-timeline .exp-checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
 }
 /*==================services section======================*/
 
 .my-services{
     min-height: fit-content;
     background-color: #111111;
 }
 .hire-icon{
     color: #393e46;
    }
 .hire-icon:hover{
     color: #00adb5;
     transition: all 0.5s;
 }

 @media screen and (min-width: 900px) {
  
 }
 /*==================dividers section======================*/
 .divider {
    background-color: #111111;
    position: relative;
    clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
    height: 60px;
}

.div2container{
    height: 60px;
    background-color: #111111;
}

.divider2{
    background-color: #191919;
    position: relative;
    clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 5vw), 100% 0%);
    height: 60px;
}

/*==================footer section======================*/
 .my-footer{
     min-height: fit-content;
     background-color: #191919;
 }
 /* Disable outline and borders for input fields */
 input[type="text"], input[type="email"],input[type="tel"], textarea {
    border: none;
    outline: none;
    background-color: #111111;
    color: #8d8d8d;
    font-weight: bold;
}


input[type="submit"]{
    background-color: #191919;
}
/* Make the textarea non-resizable */
textarea {
    resize: none;
}

.second-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    
}

#myregard{
    margin-top: 1em;
}

#social-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#social-links i{
    font-size: 2.5rem;
    color: #8d8d8d;
}
#social-links i:hover{
    color: #00adb5;
    transition: all 0.5s;
}
 @media screen and (min-width: 900px) {
    .second-column{
        border-left: 2px solid #393e46;
        border-top: none;
    }    
    #myregard{
        margin-top: 0;
    }
 }
 
 